cluster_name: lenovo
node_ip: ""
disk: /dev/sda
interface: eno1
talos_version: v1.12.3
kubernetes_version: v1.35.0
control_plane_port: 6443
tailscale_auth_key: "tskey-auth-..."
tailscale_routes: "10.1.1.0/24"
cilium_version: "1.19.0"
loadbalancer_ip: "10.1.1.60"
domain: "example.com"
traefik_version: "38.0.2"
cert_manager_version: "v1.19.3"
cloudflare_api_token: "your-cloudflare-api-token"
argocd_version: "9.4.1"
longhorn_version: "1.11.0"
longhorn_s3_endpoint: "https://truenas.local:9000"
longhorn_s3_access_key: "your-minio-access-key"
longhorn_s3_secret_key: "your-minio-secret-key"
